# Getting Started with Julia in Colab/Jupyter
You can either run this notebook in Google Colab, or using Jupyter on your own machine.

## Running on Google Colab
1. Work on a copy of this notebook: _File_ > _Save a copy in Drive_ (you will need a Google account). Alternatively, you can download the notebook using _File_ > _Download .ipynb_, then upload it to [Colab](https://colab.research.google.com/).
2. Execute the following cell (click on it and press Ctrl+Enter) to install Julia, IJulia (the Jupyter kernel for Julia) and other packages. You can update `JULIA_VERSION` and the other parameters, if you know what you're doing. Installation takes 2-3 minutes.
3. Reload this page (press Ctrl+R, or ⌘+R, or the F5 key) and continue to the _Checking the Installation_ section.

* _Note_: If your Colab Runtime gets reset (e.g., due to inactivity), repeat steps 2 and 3.

In [ ]:
%%shell
set -e

#---------------------------------------------------#
JULIA_VERSION="1.6.0" # any version ≥ 0.7.0
JULIA_PACKAGES="IJulia DataFrames CSV Pipe"
JULIA_PACKAGES_IF_GPU="CUDA"
JULIA_NUM_THREADS=4
#---------------------------------------------------#

if [ -n "$COLAB_GPU" ] && [ -z `which julia` ]; then
  # Install Julia
  JULIA_VER=`cut -d '.' -f -2 <<< "$JULIA_VERSION"`
  echo "Installing Julia $JULIA_VERSION on the current Colab Runtime..."
  BASE_URL="https://julialang-s3.julialang.org/bin/linux/x64"
  URL="$BASE_URL/$JULIA_VER/julia-$JULIA_VERSION-linux-x86_64.tar.gz"
  wget -nv $URL -O /tmp/julia.tar.gz # -nv means "not verbose"
  tar -x -f /tmp/julia.tar.gz -C /usr/local --strip-components 1
  rm /tmp/julia.tar.gz

  # Install Packages
  if [ "$COLAB_GPU" = "1" ]; then
      JULIA_PACKAGES="$JULIA_PACKAGES $JULIA_PACKAGES_IF_GPU"
  fi
  for PKG in `echo $JULIA_PACKAGES`; do
    echo "Installing Julia package $PKG..."
    julia -e 'using Pkg; pkg"add '$PKG'; precompile;"' &> /dev/null
  done

  # Install kernel and rename it to "julia"
  echo "Installing IJulia kernel..."
  julia -e 'using IJulia; IJulia.installkernel("julia", env=Dict(
      "JULIA_NUM_THREADS"=>"'"$JULIA_NUM_THREADS"'"))'
  KERNEL_DIR=`julia -e "using IJulia; print(IJulia.kerneldir())"`
  KERNEL_NAME=`ls -d "$KERNEL_DIR"/julia*`
  mv -f $KERNEL_NAME "$KERNEL_DIR"/julia  

  echo ''
  echo "Successfully installed `julia -v`!"
  echo "Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then"
  echo "jump to the 'Checking the Installation' section."
fi

Installing Julia 1.6.0 on the current Colab Runtime...
2022-02-06 11:45:02 URL:https://storage.googleapis.com/julialang2/bin/linux/x64/1.6/julia-1.6.0-linux-x86_64.tar.gz [112838927/112838927] -> "/tmp/julia.tar.gz" [1]
Installing Julia package IJulia...
Installing Julia package DataFrames...

## Checking the Installation
The `versioninfo()` function should print your Julia version and some other info about the system (if you ever ask for help or file an issue about Julia, you should always provide this information).

In [1]:
versioninfo()

Julia Version 1.6.0
Commit f9720dc2eb (2021-03-24 12:55 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) CPU @ 2.20GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-11.0.1 (ORCJIT, broadwell)
Environment:
  JULIA_NUM_THREADS = 4

# Imports

In [2]:
using DataFrames
using CSV
using Pipe

# Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [3]:
download("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv", "cars1.csv")
download("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv", "cars2.csv")

"cars2.csv"

# Step 3. Assign each to a to a variable called cars1 and cars2

In [ ]:
cars1 = CSV.read("cars1.csv", DataFrame)
cars2 = CSV.read("cars2.csv", DataFrame)

In [11]:
show(cars1,allcols=true)

198×14 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  model  origin  car                                Column10  Column11  Column12  Column13  Column14
     │ Float64  Int64      Int64         String3     Int64   Float64       Int64  Int64   String                             Missing   Missing   Missing   Missing   Missing
─────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0     70       1  chevrolet chevelle malibu           missing   missing   missing   missing   missing
   2 │    15.0          8           350  165           3693          11.5     70       1  buick skylark 320                   missing   missing   missing   missing   missing
   3 │    18.0          8           318  150           3436          11.0     70       1  plymouth satellite                  missing   missing   missing   missing   missing
   4 │    16.0          8           304  150           3433          12.0     70       1  amc rebel sst                       missing   missing   missing   missing   missing
   5 │    17.0          8           302  140           3449          10.5     70       1  ford torino                         missing   missing   missing   missing   missing
   6 │    15.0          8           429  198           4341          10.0     70       1  ford galaxie 500                    missing   missing   missing   missing   missing
   7 │    14.0          8           454  220           4354           9.0     70       1  chevrolet impala                    missing   missing   missing   missing   missing
   8 │    14.0          8           440  215           4312           8.5     70       1  plymouth fury iii                   missing   missing   missing   missing   missing
   9 │    14.0          8           455  225           4425          10.0     70       1  pontiac catalina                    missing   missing   missing   missing   missing
  10 │    15.0          8           390  190           3850           8.5     70       1  amc ambassador dpl                  missing   missing   missing   missing   missing
  11 │    15.0          8           383  170           3563          10.0     70       1  dodge challenger se                 missing   missing   missing   missing   missing
  ⋮  │    ⋮         ⋮           ⋮            ⋮         ⋮          ⋮          ⋮      ⋮                     ⋮                     ⋮         ⋮         ⋮         ⋮         ⋮
 189 │    16.0          8           318  150           4190          13.0     76       1  dodge coronet brougham              missing   missing   missing   missing   missing
 190 │    15.5          8           304  120           3962          13.9     76       1  amc matador                         missing   missing   missing   missing   missing
 191 │    14.5          8           351  152           4215          12.8     76       1  ford gran torino                    missing   missing   missing   missing   missing
 192 │    22.0          6           225  100           3233          15.4     76       1  plymouth valiant                    missing   missing   missing   missing   missing
 193 │    22.0          6           250  105           3353          14.5     76       1  chevrolet nova                      missing   missing   missing   missing   missing
 194 │    24.0          6           200  81            3012          17.6     76       1  ford maverick                       missing   missing   missing   missing   missing
 195 │    22.5          6           232  90            3085          17.6     76       1  amc hornet                          missing   missing   missing   missing   missing
 196 │    29.0          4            85  52            2035          22.2     76       1  chevrolet chevette                  missing   missing   missing   missing   missing
 197 │    24.5          4            98  60            2164          22.1     76       1  chevrolet woody                     missing   missing   missing   missing   missing
 198 │    29.0          4            90  70            1937          14.2     76       2  vw rabbit                           missing   missing   missing   missing   missing
                                                                                                                                                              177 rows omitted

In [13]:
show(cars2,allcols=true)

200×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  model  origin  car
     │ Float64  Int64      Int64         String3     Int64   Float64       Int64  Int64   String
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    33.0          4            91  53            1795          17.4     76       3  honda civic
   2 │    20.0          6           225  100           3651          17.7     76       1  dodge aspen se
   3 │    18.0          6           250  78            3574          21.0     76       1  ford granada ghia
   4 │    18.5          6           250  110           3645          16.2     76       1  pontiac ventura sj
   5 │    17.5          6           258  95            3193          17.8     76       1  amc pacer d/l
   6 │    29.5          4            97  71            1825          12.2     76       2  volkswagen rabbit
   7 │    32.0          4            85  70            1990          17.0     76       3  datsun b-210
   8 │    28.0          4            97  75            2155          16.4     76       3  toyota corolla
   9 │    26.5          4           140  72            2565          13.6     76       1  ford pinto
  10 │    20.0          4           130  102           3150          15.7     76       2  volvo 245
  11 │    13.0          8           318  150           3940          13.2     76       1  plymouth volare premier v8
  ⋮  │    ⋮         ⋮           ⋮            ⋮         ⋮          ⋮          ⋮      ⋮                     ⋮
 191 │    26.0          4           156  92            2585          14.5     82       1  chrysler lebaron medallion
 192 │    22.0          6           232  112           2835          14.7     82       1  ford granada l
 193 │    32.0          4           144  96            2665          13.9     82       3  toyota celica gt
 194 │    36.0          4           135  84            2370          13.0     82       1  dodge charger 2.2
 195 │    27.0          4           151  90            2950          17.3     82       1  chevrolet camaro
 196 │    27.0          4           140  86            2790          15.6     82       1  ford mustang gl
 197 │    44.0          4            97  52            2130          24.6     82       2  vw pickup
 198 │    32.0          4           135  84            2295          11.6     82       1  dodge rampage
 199 │    28.0          4           120  79            2625          18.6     82       1  ford ranger
 200 │    31.0          4           119  82            2720          19.4     82       1  chevy s-10
                                                                                                            179 rows omitted

# Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [17]:
show(cars1[!, Between(:mpg, :car)],allcols=true)

198×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  model  origin  car
     │ Float64  Int64      Int64         String3     Int64   Float64       Int64  Int64   String
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0     70       1  chevrolet chevelle malibu
   2 │    15.0          8           350  165           3693          11.5     70       1  buick skylark 320
   3 │    18.0          8           318  150           3436          11.0     70       1  plymouth satellite
   4 │    16.0          8           304  150           3433          12.0     70       1  amc rebel sst
   5 │    17.0          8           302  140           3449          10.5     70       1  ford torino
   6 │    15.0          8           429  198           4341          10.0     70       1  ford galaxie 500
   7 │    14.0          8           454  220           4354           9.0     70       1  chevrolet impala
   8 │    14.0          8           440  215           4312           8.5     70       1  plymouth fury iii
   9 │    14.0          8           455  225           4425          10.0     70       1  pontiac catalina
  10 │    15.0          8           390  190           3850           8.5     70       1  amc ambassador dpl
  11 │    15.0          8           383  170           3563          10.0     70       1  dodge challenger se
  ⋮  │    ⋮         ⋮           ⋮            ⋮         ⋮          ⋮          ⋮      ⋮                     ⋮
 189 │    16.0          8           318  150           4190          13.0     76       1  dodge coronet brougham
 190 │    15.5          8           304  120           3962          13.9     76       1  amc matador
 191 │    14.5          8           351  152           4215          12.8     76       1  ford gran torino
 192 │    22.0          6           225  100           3233          15.4     76       1  plymouth valiant
 193 │    22.0          6           250  105           3353          14.5     76       1  chevrolet nova
 194 │    24.0          6           200  81            3012          17.6     76       1  ford maverick
 195 │    22.5          6           232  90            3085          17.6     76       1  amc hornet
 196 │    29.0          4            85  52            2035          22.2     76       1  chevrolet chevette
 197 │    24.5          4            98  60            2164          22.1     76       1  chevrolet woody
 198 │    29.0          4            90  70            1937          14.2     76       2  vw rabbit
                                                                                                            177 rows omitted

In [18]:
# This syntax works as well if you want from the beginand don't know the column name for some reason
cars1 = cars1[!, Between(begin, :car)]

198×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0      ⋯
   2 │    15.0          8           350  165           3693          11.5
   3 │    18.0          8           318  150           3436          11.0
   4 │    16.0          8           304  150           3433          12.0
   5 │    17.0          8           302  140           3449          10.5      ⋯
   6 │    15.0          8           429  198           4341          10.0
   7 │    14.0          8           454  220           4354           9.0
   8 │    14.0          8           440  215           4312           8.5
   9 │    14.0          8           455  225           4425          10.0      ⋯
  10 │    15.0          8           390  190           3850           8.5
  11 │    15.0          8           383  170           3563          10.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮         ⋮          ⋮          ⋮ ⋱
 189 │    16.0          8           318  150           4190          13.0
 190 │    15.5          8           304  120           3962          13.9      ⋯
 191 │    14.5          8           351  152           4215          12.8
 192 │    22.0          6           225  100           3233          15.4
 193 │    22.0          6           250  105           3353          14.5
 194 │    24.0          6           200  81            3012          17.6      ⋯
 195 │    22.5          6           232  90            3085          17.6
 196 │    29.0          4            85  52            2035          22.2
 197 │    24.5          4            98  60            2164          22.1
 198 │    29.0          4            90  70            1937          14.2      ⋯
                                                  3 columns and 177 rows omitted

# Step 5. What is the number of observations in each dataset?

In [19]:
size(cars1)

(198, 9)

In [20]:
size(cars2)

(200, 9)

# Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [21]:
append!(cars1,cars2)

398×9 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  mod ⋯
     │ Float64  Int64      Int64         String3     Int64   Float64       Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0      ⋯
   2 │    15.0          8           350  165           3693          11.5
   3 │    18.0          8           318  150           3436          11.0
   4 │    16.0          8           304  150           3433          12.0
   5 │    17.0          8           302  140           3449          10.5      ⋯
   6 │    15.0          8           429  198           4341          10.0
   7 │    14.0          8           454  220           4354           9.0
   8 │    14.0          8           440  215           4312           8.5
   9 │    14.0          8           455  225           4425          10.0      ⋯
  10 │    15.0          8           390  190           3850           8.5
  11 │    15.0          8           383  170           3563          10.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮         ⋮          ⋮          ⋮ ⋱
 389 │    26.0          4           156  92            2585          14.5
 390 │    22.0          6           232  112           2835          14.7      ⋯
 391 │    32.0          4           144  96            2665          13.9
 392 │    36.0          4           135  84            2370          13.0
 393 │    27.0          4           151  90            2950          17.3
 394 │    27.0          4           140  86            2790          15.6      ⋯
 395 │    44.0          4            97  52            2130          24.6
 396 │    32.0          4           135  84            2295          11.6
 397 │    28.0          4           120  79            2625          18.6
 398 │    31.0          4           119  82            2720          19.4      ⋯
                                                  3 columns and 377 rows omitted

# Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [25]:
owners = [ceil(i) for i in range(15000, 73000, length = 398)]

398-element Vector{Float64}:
 15000.0
 15147.0
 15293.0
 15439.0
 15585.0
 15731.0
 15877.0
 16023.0
 16169.0
 16315.0
 16461.0
 16608.0
 16754.0
     ⋮
 71393.0
 71540.0
 71686.0
 71832.0
 71978.0
 72124.0
 72270.0
 72416.0
 72562.0
 72708.0
 72854.0
 73000.0

In [26]:
cars1.owners = owners

398-element Vector{Float64}:
 15000.0
 15147.0
 15293.0
 15439.0
 15585.0
 15731.0
 15877.0
 16023.0
 16169.0
 16315.0
 16461.0
 16608.0
 16754.0
     ⋮
 71393.0
 71540.0
 71686.0
 71832.0
 71978.0
 72124.0
 72270.0
 72416.0
 72562.0
 72708.0
 72854.0
 73000.0

In [27]:
show(cars1,allcols=true)

398×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight  acceleration  model  origin  car                                owners
     │ Float64  Int64      Int64         String3     Int64   Float64       Int64  Int64   String                             Float64
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    18.0          8           307  130           3504          12.0     70       1  chevrolet chevelle malibu          15000.0
   2 │    15.0          8           350  165           3693          11.5     70       1  buick skylark 320                  15147.0
   3 │    18.0          8           318  150           3436          11.0     70       1  plymouth satellite                 15293.0
   4 │    16.0          8           304  150           3433          12.0     70       1  amc rebel sst                      15439.0
   5 │    17.0          8           302  140           3449          10.5     70       1  ford torino                        15585.0
   6 │    15.0          8           429  198           4341          10.0     70       1  ford galaxie 500                   15731.0
   7 │    14.0          8           454  220           4354           9.0     70       1  chevrolet impala                   15877.0
   8 │    14.0          8           440  215           4312           8.5     70       1  plymouth fury iii                  16023.0
   9 │    14.0          8           455  225           4425          10.0     70       1  pontiac catalina                   16169.0
  10 │    15.0          8           390  190           3850           8.5     70       1  amc ambassador dpl                 16315.0
  11 │    15.0          8           383  170           3563          10.0     70       1  dodge challenger se                16461.0
  ⋮  │    ⋮         ⋮           ⋮            ⋮         ⋮          ⋮          ⋮      ⋮                     ⋮                     ⋮
 389 │    26.0          4           156  92            2585          14.5     82       1  chrysler lebaron medallion         71686.0
 390 │    22.0          6           232  112           2835          14.7     82       1  ford granada l                     71832.0
 391 │    32.0          4           144  96            2665          13.9     82       3  toyota celica gt                   71978.0
 392 │    36.0          4           135  84            2370          13.0     82       1  dodge charger 2.2                  72124.0
 393 │    27.0          4           151  90            2950          17.3     82       1  chevrolet camaro                   72270.0
 394 │    27.0          4           140  86            2790          15.6     82       1  ford mustang gl                    72416.0
 395 │    44.0          4            97  52            2130          24.6     82       2  vw pickup                          72562.0
 396 │    32.0          4           135  84            2295          11.6     82       1  dodge rampage                      72708.0
 397 │    28.0          4           120  79            2625          18.6     82       1  ford ranger                        72854.0
 398 │    31.0          4           119  82            2720          19.4     82       1  chevy s-10                         73000.0
                                                                                                                     377 rows omitted