# Getting Started with Julia in Colab/Jupyter
You can either run this notebook in Google Colab, or using Jupyter on your own machine.

## Running on Google Colab
1. Work on a copy of this notebook: _File_ > _Save a copy in Drive_ (you will need a Google account). Alternatively, you can download the notebook using _File_ > _Download .ipynb_, then upload it to [Colab](https://colab.research.google.com/).
2. Execute the following cell (click on it and press Ctrl+Enter) to install Julia, IJulia (the Jupyter kernel for Julia) and other packages. You can update `JULIA_VERSION` and the other parameters, if you know what you're doing. Installation takes 2-3 minutes.
3. Reload this page (press Ctrl+R, or ⌘+R, or the F5 key) and continue to the _Checking the Installation_ section.

* _Note_: If your Colab Runtime gets reset (e.g., due to inactivity), repeat steps 2 and 3.

In [ ]:
%%shell
set -e

#---------------------------------------------------#
JULIA_VERSION="1.6.0" # any version ≥ 0.7.0
JULIA_PACKAGES="IJulia DataFrames CSV Pipe"
JULIA_PACKAGES_IF_GPU="CUDA"
JULIA_NUM_THREADS=4
#---------------------------------------------------#

if [ -n "$COLAB_GPU" ] && [ -z `which julia` ]; then
  # Install Julia
  JULIA_VER=`cut -d '.' -f -2 <<< "$JULIA_VERSION"`
  echo "Installing Julia $JULIA_VERSION on the current Colab Runtime..."
  BASE_URL="https://julialang-s3.julialang.org/bin/linux/x64"
  URL="$BASE_URL/$JULIA_VER/julia-$JULIA_VERSION-linux-x86_64.tar.gz"
  wget -nv $URL -O /tmp/julia.tar.gz # -nv means "not verbose"
  tar -x -f /tmp/julia.tar.gz -C /usr/local --strip-components 1
  rm /tmp/julia.tar.gz

  # Install Packages
  if [ "$COLAB_GPU" = "1" ]; then
      JULIA_PACKAGES="$JULIA_PACKAGES $JULIA_PACKAGES_IF_GPU"
  fi
  for PKG in `echo $JULIA_PACKAGES`; do
    echo "Installing Julia package $PKG..."
    julia -e 'using Pkg; pkg"add '$PKG'; precompile;"' &> /dev/null
  done

  # Install kernel and rename it to "julia"
  echo "Installing IJulia kernel..."
  julia -e 'using IJulia; IJulia.installkernel("julia", env=Dict(
      "JULIA_NUM_THREADS"=>"'"$JULIA_NUM_THREADS"'"))'
  KERNEL_DIR=`julia -e "using IJulia; print(IJulia.kerneldir())"`
  KERNEL_NAME=`ls -d "$KERNEL_DIR"/julia*`
  mv -f $KERNEL_NAME "$KERNEL_DIR"/julia  

  echo ''
  echo "Successfully installed `julia -v`!"
  echo "Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then"
  echo "jump to the 'Checking the Installation' section."
fi

Installing Julia 1.6.0 on the current Colab Runtime...
2022-02-19 13:26:29 URL:https://storage.googleapis.com/julialang2/bin/linux/x64/1.6/julia-1.6.0-linux-x86_64.tar.gz [112838927/112838927] -> "/tmp/julia.tar.gz" [1]
Installing Julia package IJulia...
Installing Julia package BenchmarkTools...
Installing Julia package PyCall...
Installing Julia package PyPlot...
Installing IJulia kernel...

## Checking the Installation
The `versioninfo()` function should print your Julia version and some other info about the system (if you ever ask for help or file an issue about Julia, you should always provide this information).

In [ ]:
versioninfo()

Julia Version 1.6.0
Commit f9720dc2eb (2021-03-24 12:55 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) CPU @ 2.00GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-11.0.1 (ORCJIT, skylake-avx512)
Environment:
  JULIA_NUM_THREADS = 4

# Imports

In [5]:
using DataFrames
using CSV
using Pipe

# Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [6]:
s1 = rand(1:4, 100)
s2 = rand(1:3, 100)
s3 = rand(10000:30000, 100)

100-element Vector{Int64}:
 25880
 29966
 19328
 14825
 12303
 20468
 12303
 28648
 11781
 12833
 26018
 18920
 10977
     ⋮
 22262
 10686
 19465
 26111
 27378
 24084
 15634
 23391
 23542
 14515
 16015
 11832

# Step 3. Let's create a DataFrame by joinning the Series by column

In [10]:
house_mkt = DataFrame((bedrs = s1, bathrs = s2, price_sqr_meter = s3))

100×3 DataFrame
 Row │ bedrs  bathrs  price_sqr_meter
     │ Int64  Int64   Int64
─────┼────────────────────────────────
   1 │     2       3            25880
   2 │     2       1            29966
   3 │     2       3            19328
   4 │     4       2            14825
   5 │     1       1            12303
   6 │     4       1            20468
   7 │     1       1            12303
   8 │     4       3            28648
   9 │     3       3            11781
  10 │     4       2            12833
  11 │     2       2            26018
  ⋮  │   ⋮      ⋮            ⋮
  91 │     3       2            19465
  92 │     3       3            26111
  93 │     4       1            27378
  94 │     3       2            24084
  95 │     1       2            15634
  96 │     3       1            23391
  97 │     4       2            23542
  98 │     3       1            14515
  99 │     4       1            16015
 100 │     1       1            11832
                       79 rows omitted

In [19]:
big_cols = DataFrame((bigcolumn = vcat(s1, s2, s3)))

300×1 DataFrame
 Row │ bigcolumn
     │ Int64
─────┼───────────
   1 │         2
   2 │         2
   3 │         2
   4 │         4
   5 │         1
   6 │         4
   7 │         1
   8 │         4
   9 │         3
  10 │         4
  11 │         2
  ⋮  │     ⋮
 291 │     19465
 292 │     26111
 293 │     27378
 294 │     24084
 295 │     15634
 296 │     23391
 297 │     23542
 298 │     14515
 299 │     16015
 300 │     11832
 279 rows omitted

In [21]:
size(big_cols)

(300, 1)

In [22]:
# Step 6. Oops, it seems it is going only until index 99. Is it true?
# Step 7. Reindex the DataFrame so it goes from 0 to 299
# These problems actually don't exist in DataFrames.jl