# Getting Started with Julia in Colab/Jupyter
You can either run this notebook in Google Colab, or using Jupyter on your own machine.

## Running on Google Colab
1. Work on a copy of this notebook: _File_ > _Save a copy in Drive_ (you will need a Google account). Alternatively, you can download the notebook using _File_ > _Download .ipynb_, then upload it to [Colab](https://colab.research.google.com/).
2. Execute the following cell (click on it and press Ctrl+Enter) to install Julia, IJulia (the Jupyter kernel for Julia) and other packages. You can update `JULIA_VERSION` and the other parameters, if you know what you're doing. Installation takes 2-3 minutes.
3. Reload this page (press Ctrl+R, or ⌘+R, or the F5 key) and continue to the _Checking the Installation_ section.

* _Note_: If your Colab Runtime gets reset (e.g., due to inactivity), repeat steps 2 and 3.

In [ ]:
%%shell
set -e

#---------------------------------------------------#
JULIA_VERSION="1.6.0" # any version ≥ 0.7.0
JULIA_PACKAGES="IJulia DataFrames CSV Pipe"
JULIA_PACKAGES_IF_GPU="CUDA"
JULIA_NUM_THREADS=4
#---------------------------------------------------#

if [ -n "$COLAB_GPU" ] && [ -z `which julia` ]; then
  # Install Julia
  JULIA_VER=`cut -d '.' -f -2 <<< "$JULIA_VERSION"`
  echo "Installing Julia $JULIA_VERSION on the current Colab Runtime..."
  BASE_URL="https://julialang-s3.julialang.org/bin/linux/x64"
  URL="$BASE_URL/$JULIA_VER/julia-$JULIA_VERSION-linux-x86_64.tar.gz"
  wget -nv $URL -O /tmp/julia.tar.gz # -nv means "not verbose"
  tar -x -f /tmp/julia.tar.gz -C /usr/local --strip-components 1
  rm /tmp/julia.tar.gz

  # Install Packages
  if [ "$COLAB_GPU" = "1" ]; then
      JULIA_PACKAGES="$JULIA_PACKAGES $JULIA_PACKAGES_IF_GPU"
  fi
  for PKG in `echo $JULIA_PACKAGES`; do
    echo "Installing Julia package $PKG..."
    julia -e 'using Pkg; pkg"add '$PKG'; precompile;"' &> /dev/null
  done

  # Install kernel and rename it to "julia"
  echo "Installing IJulia kernel..."
  julia -e 'using IJulia; IJulia.installkernel("julia", env=Dict(
      "JULIA_NUM_THREADS"=>"'"$JULIA_NUM_THREADS"'"))'
  KERNEL_DIR=`julia -e "using IJulia; print(IJulia.kerneldir())"`
  KERNEL_NAME=`ls -d "$KERNEL_DIR"/julia*`
  mv -f $KERNEL_NAME "$KERNEL_DIR"/julia  

  echo ''
  echo "Successfully installed `julia -v`!"
  echo "Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then"
  echo "jump to the 'Checking the Installation' section."
fi

Installing Julia 1.6.0 on the current Colab Runtime...
2022-01-26 12:01:23 URL:https://storage.googleapis.com/julialang2/bin/linux/x64/1.6/julia-1.6.0-linux-x86_64.tar.gz [112838927/112838927] -> "/tmp/julia.tar.gz" [1]
Installing Julia package IJulia...
Installing Julia package DataFrames...
Installing Julia package CSV...
Installing IJulia kernel...
[ Info: Installing julia kernelspec in /root/.local/share/jupyter/kernels/julia-1.6

Successfully installed julia version 1.6.0!
Please reload this page (press Ctrl+R, ⌘+R, or the F5 key) then
jump to the 'Checking the Installation' section.

## Checking the Installation
The `versioninfo()` function should print your Julia version and some other info about the system (if you ever ask for help or file an issue about Julia, you should always provide this information).

In [1]:
versioninfo()

Julia Version 1.6.0
Commit f9720dc2eb (2021-03-24 12:55 UTC)
Platform Info:
  OS: Linux (x86_64-pc-linux-gnu)
  CPU: Intel(R) Xeon(R) CPU @ 2.20GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-11.0.1 (ORCJIT, broadwell)
Environment:
  JULIA_NUM_THREADS = 4

# Step 1. Import the necessary libraries

In [2]:
using DataFrames
using CSV
using Pipe
using Statistics

# Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [3]:
URL = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
download(URL, "u.user")

"u.user"

# Step 3. Assign it to a variable called users.

In [4]:
users = CSV.read("u.user", delim = "|", DataFrame)

943×5 DataFrame
 Row │ user_id  age    gender   occupation     zip_code
     │ Int64    Int64  String1  String15       String7
─────┼──────────────────────────────────────────────────
   1 │       1     24  M        technician     85711
   2 │       2     53  F        other          94043
   3 │       3     23  M        writer         32067
   4 │       4     24  M        technician     43537
   5 │       5     33  F        other          15213
   6 │       6     42  M        executive      98101
   7 │       7     57  M        administrator  91344
   8 │       8     36  M        administrator  05201
   9 │       9     29  M        student        01002
  10 │      10     53  M        lawyer         90703
  11 │      11     39  F        other          30329
  ⋮  │    ⋮       ⋮       ⋮           ⋮           ⋮
 934 │     934     61  M        engineer       22902
 935 │     935     42  M        doctor         66221
 936 │     936     24  M        other          32789
 937 │     937     48  M        educator       98072
 938 │     938     38  F        technician     55038
 939 │     939     26  F        student        33319
 940 │     940     32  M        administrator  02215
 941 │     941     20  M        student        97229
 942 │     942     48  F        librarian      78209
 943 │     943     22  M        student        77841
                                        922 rows omitted

# Step 4. Discover what is the mean age per occupation

In [5]:
@pipe users |> groupby(_, :occupation) |> (_, :age => mean)

(GroupedDataFrame with 21 groups based on key: occupation
First Group (27 rows): occupation = "technician"
 Row │ user_id  age    gender   occupation  zip_code
     │ Int64    Int64  String1  String15    String7
─────┼───────────────────────────────────────────────
   1 │       1     24  M        technician  85711
   2 │       4     24  M        technician  43537
   3 │      44     26  M        technician  46260
   4 │      77     30  M        technician  29379
   5 │     143     42  M        technician  08832
   6 │     197     55  M        technician  75094
   7 │     244     28  M        technician  80525
   8 │     294     34  M        technician  92110
   9 │     311     32  M        technician  73071
  10 │     325     48  M        technician  02139
  11 │     441     50  M        technician  55013
  ⋮  │    ⋮       ⋮       ⋮         ⋮          ⋮
  17 │     715     21  M        technician  91206
  18 │     717     24  M        technician  84105
  19 │     718     42  M        technician  64118
  20 │     738     35  M        technician  95403
  21 │     739     35  M        technician  73162
  22 │     790     27  M        technician  80913
  23 │     812     22  M        technician  76234
  24 │     832     24  M        technician  77042
  25 │     850     34  M        technician  78390
  26 │     889     24  M        technician  78704
  27 │     938     38  F        technician  55038
                                       5 rows omitted
⋮
Last Group (7 rows): occupation = "doctor"
 Row │ user_id  age    gender   occupation  zip_code
     │ Int64    Int64  String1  String15    String7
─────┼───────────────────────────────────────────────
   1 │     138     46  M        doctor      53211
   2 │     251     28  M        doctor      85032
   3 │     299     29  M        doctor      63108
   4 │     427     51  M        doctor      85258
   5 │     841     45  M        doctor      47401
   6 │     845     64  M        doctor      97405
   7 │     935     42  M        doctor      66221, :age => Statistics.mean)

# Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [6]:
convert_num(x) = x == "M" ? 1 : 0
users[!,:gender_num] = convert_num.(users.gender)
users

943×6 DataFrame
 Row │ user_id  age    gender   occupation     zip_code  gender_num
     │ Int64    Int64  String1  String15       String7   Int64
─────┼──────────────────────────────────────────────────────────────
   1 │       1     24  M        technician     85711              1
   2 │       2     53  F        other          94043              0
   3 │       3     23  M        writer         32067              1
   4 │       4     24  M        technician     43537              1
   5 │       5     33  F        other          15213              0
   6 │       6     42  M        executive      98101              1
   7 │       7     57  M        administrator  91344              1
   8 │       8     36  M        administrator  05201              1
   9 │       9     29  M        student        01002              1
  10 │      10     53  M        lawyer         90703              1
  11 │      11     39  F        other          30329              0
  ⋮  │    ⋮       ⋮       ⋮           ⋮           ⋮          ⋮
 934 │     934     61  M        engineer       22902              1
 935 │     935     42  M        doctor         66221              1
 936 │     936     24  M        other          32789              1
 937 │     937     48  M        educator       98072              1
 938 │     938     38  F        technician     55038              0
 939 │     939     26  F        student        33319              0
 940 │     940     32  M        administrator  02215              1
 941 │     941     20  M        student        97229              1
 942 │     942     48  F        librarian      78209              0
 943 │     943     22  M        student        77841              1
                                                    922 rows omitted

In [22]:
male_ratio = @pipe users |> groupby(_, :occupation) |> combine(_, :gender_num => (x -> sum(x) / length(x)) => :male_ratio)
sort(male_ratio, (:male_ratio),rev=true)

21×2 DataFrame
 Row │ occupation     male_ratio
     │ String15       Float64
─────┼───────────────────────────
   1 │ doctor           1.0
   2 │ engineer         0.970149
   3 │ technician       0.962963
   4 │ retired          0.928571
   5 │ programmer       0.909091
   6 │ executive        0.90625
   7 │ scientist        0.903226
   8 │ entertainment    0.888889
   9 │ lawyer           0.833333
  10 │ salesman         0.75
  11 │ educator         0.726316
  12 │ student          0.693878
  13 │ other            0.657143
  14 │ marketing        0.615385
  15 │ writer           0.577778
  16 │ none             0.555556
  17 │ administrator    0.544304
  18 │ artist           0.535714
  19 │ librarian        0.431373
  20 │ healthcare       0.3125
  21 │ homemaker        0.142857

# Step 6. For each occupation, calculate the minimum and maximum ages

In [25]:
@pipe users |> groupby(_, :occupation) |> combine(_, :age => minimum, :age => maximum)

21×3 DataFrame
 Row │ occupation     age_minimum  age_maximum
     │ String15       Int64        Int64
─────┼─────────────────────────────────────────
   1 │ technician              21           55
   2 │ other                   13           64
   3 │ writer                  18           60
   4 │ executive               22           69
   5 │ administrator           21           70
   6 │ student                  7           42
   7 │ lawyer                  21           53
   8 │ educator                23           63
   9 │ scientist               23           55
  10 │ entertainment           15           50
  11 │ programmer              20           63
  12 │ librarian               23           69
  13 │ homemaker               20           50
  14 │ artist                  19           48
  15 │ engineer                22           70
  16 │ marketing               24           55
  17 │ none                    11           55
  18 │ healthcare              22           62
  19 │ retired                 51           73
  20 │ salesman                18           66
  21 │ doctor                  28           64

# Step 7. For each combination of occupation and gender, calculate the mean age

In [43]:
agg = combine(groupby(users, [:occupation, :gender]), :gender => length => :count)
transform(groupby(agg, [:occupation]), :count => (x -> x / sum(x) * 100) => :age_percentage)

41×4 DataFrame
 Row │ occupation     gender   count  age_percentage
     │ String15       String1  Int64  Float64
─────┼───────────────────────────────────────────────
   1 │ technician     M           26        96.2963
   2 │ technician     F            1         3.7037
   3 │ other          M           69        65.7143
   4 │ other          F           36        34.2857
   5 │ writer         M           26        57.7778
   6 │ writer         F           19        42.2222
   7 │ executive      M           29        90.625
   8 │ executive      F            3         9.375
   9 │ administrator  M           43        54.4304
  10 │ administrator  F           36        45.5696
  11 │ student        M          136        69.3878
  ⋮  │       ⋮           ⋮       ⋮          ⋮
  32 │ marketing      F           10        38.4615
  33 │ none           M            5        55.5556
  34 │ none           F            4        44.4444
  35 │ healthcare     M            5        31.25
  36 │ healthcare     F           11        68.75
  37 │ retired        M           13        92.8571
  38 │ retired        F            1         7.14286
  39 │ salesman       M            9        75.0
  40 │ salesman       F            3        25.0
  41 │ doctor         M            7       100.0
                                      20 rows omitted